// Navigation Styles here
header {
    width: 100%;
    display: flex;
    border-bottom: @borders;
     nav {
        margin-top: 40px; 
        margin-bottom: 20px;
        justify-content: space-between;
        display: flex;

        a {
            text-decoration: none;
            color:black;
            a:hover {
                text-decoration: underline;
                color:grey;
            }
        }
    }
}
.nav-txt{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: @borders;
}



