// Navigation Styles here
header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px; 
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color:black;
}

header nav a:hover {
    text-decoration: underline;
    color:grey;
}